.sortContainer {
  border: 1px solid rgba(178, 190, 195, 1);
  padding: 8px 10px;
}
.sortContainer p {
  margin: 10px 35px;
}
.algorithmAnimate {
  display: flex;
  align-items: flex-end;
  margin: 30px 0 10px 30px;
}
.itemWrapper {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 10px;
  top: 0;
  margin-left: 5px;
  flex-direction: column;
}
.itemWrapper p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.8rem;
}
@media screen and (max-width: 768px) {
  .sortContainer {
    padding: 8px 4px;
  }
}
@media screen and (max-width: 425px) {
  .sortContainer {
    padding: 8px 0;
  }
  .sortContainer p {
    margin: 10px 0;
    padding: 0 2px;
  }
  .algorithmAnimate {
    margin: 30px 0 10px 10px;
  }
  .itemWrapper {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 10px;
    top: 0;
    margin-left: 2px;
    flex-direction: column;
  }
}
