.nav {
  display: flex;
  background-color: rgba(56, 173, 169, 1);
  width: calc(100% - 140px);
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
.nav img {
  width: 70px;
}
.nav p {
  color: white;
  font-size: 1.5rem;
}
